<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Agreement</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet"/>
	<link href="//maxcdn.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
	<style type="text/css">
		body {
		    background-color: white;
		}
		.aggrement_area {
          max-height: 400px;
          max-width: 400px;
          padding: 15px;
          overflow-y: auto;
        }
	 </style>
</head>

<body>

<div class="container">
  <section id="contentwrap">
    <div class="page-header text-center">
      <h1>MINI AWS 이용약관</h1>
    </div> 
    <div class="well text-center">
        Lectopia AWS 이용약관 확인 페이지에 방문해주신것을 환영합니다.
	</div>
    <div class="form-actions">
      <form id="form1" class="text-center">
        <!-- 이용약관 내용(TEXT AREA) -->  
        <textarea rows="10" class="input-block-level">
            ■ 개인정보의 수집 및 이용 목적
          
          1) 회사는 수집방법의 구별 없이 수집된 개인정보를 제공하여 주신 회원님을 위한 보다 더 유용한 서비스의 개발, 제공에 이용합니다.
          
          2) 회사는 다음과 같은 목적을 위하여 개인정보를 수집하고 있습니다.
          
          ① AWS 서비스 제공에 관한 계약 이행 및 서비스 제공에 따른 요금정산
          
          ② AWS 서비스에 대한 안내/홍보/리서치 정보 안내(전자우편(E-mail)/우편물(DM)/SMS 등 활용)
          
          ③ 회원 관리
          
          회원제 서비스 이용에 따른 본인확인, 개인 식별, 불량회원의 부정 이용 방지와 비인가 사용 방지, 고지사항 전달, 본인의사 확인, 불만처리 등 원활한 의사소통 경로의 확보
          
          ④ 취업 활동 및 헤드헌팅 활동
          
          회원의 효과적인 취업지원 및 기업체의 인재채용에 적합한 서비스 제공, 입사 지원, 입사 추천
          
          ⑤ 고용 및 취업동향을 파악하기 위한 통계분석
          
          
          ■ 개인정보의 수집 항목
          
          
          회사는 회원제 서비스 이용, 상담, 서비스 신청 및 제공 등을 위해 다음과 같은 개인정보를 수집하고 있습니다.
          
          1) 회원가입 시 수집하는 항목
          
          ① 필수 항목 : 이름(실명), 생년월일, 회원 ID, 비밀번호, 전화번호, 휴대전화번호, 이메일 주소, 우편번호, 주소
          
          ② 선택 항목 : 영문명, 필명, 경력 업직종, 메일링 서비스 수신 설정
          
          2) 이력서 등록 시 수집하는 항목
          
          ① 필수 항목 : 학력사항(학교명, 소재지, 재학기간, 전공계열, 전공명), 경력사항(회사명, 소재지, 부서, 직위, 재직기간, 재직여부, 연봉, 근무만족도, 이직사유, 총경력), 평판조회처(성명, 직장, 전화번호, 휴대전화, 이메일, 회원과의 관계), 자기소개서
          
          ② 선택 항목 : 사진, 근무 희망 업직종, 희망 연봉, 희망 지역, 병역사항, 외국어 능력(공인시험 및 점수), 연수 경험(국가(지역), 연수기간, 내용), 자격사항(자격증명, 발행처, 취득일자, 보유 기술), 기타 희망
          
          3) 기업 서비스 의뢰 시 수집하는 항목
          기업 서비스를 신청할 경우 신청하신 서비스의 원활한 이용과 정보도용 및 허위정보 게재로 인한 피해를 방지하기 위해 채용담당자의 개인정보를 확인하고 있습니다.
          
          ① 필수 항목 : 회사명, 담당자 성명, 직책, 직급, 전화번호, 이메일, 뉴스레터 수신여부
          
          ② 선택 항목 : 담당자 휴대전화
          
          4) 유료 정보 이용 시 수집하는 항목
          
          ① 신용카드 결제 : 거래자 성명, 카드사명, 카드번호, 카드유효기간, 이메일
          
          ② 은행계좌 이체 : 거래은행명, 계좌번호, 거래자 성명
          
          5) 서비스 이용과정이나 사업처리 과정에서 아래와 같은 정보들이 자동으로 생성되어 수집될 수 있습니다.
          
          접속 IP 정보, 접속 기록, 쿠키, 서비스 이용기록         
        </textarea> 
        <!-- 동의합니다, 동의하지 않습니다 버튼(라디오 버튼) -->
        <!-- 실명인증 버튼1(이미지) -->
        <!-- 실명인증 버튼2(이미지) -->
        <!-- 이용약관 최종 확인 버튼(이미지) -->
       <button type="button" class="btn btn-success" onclick="previous()">이용약관 최종 확인</button>
      </form>
    </div>
    <!-- <a href="#" class="btn" id="openBtn">EPCompany</a> -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Modal header</h3>
        </div>
        <div class="modal-body">
            <p>Lectopia AWS.</p>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">Close</button>
        </div>
    </div>  
  </section>
</div>
</body>
</html>