<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Join</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/latest/js/bootstrap.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css" rel="stylesheet"/>
	<style type="text/css">
		body {
		    background-color: white;
		}
		#form > div {
		    margin-bottom: 25px;
		}
		
		#form > div:last-child {
          margin-top: 10px;
          margin-bottom: 10px;
        }
	 </style>
</head>

<body>
<div class="contentwrap">
  <article class="container">
    <div class="page-header">
	  <h1>회원가입</h1>
    </div>
    <form class="form-horizontal" action="/web/join" enctype="multipart/form-data" method="POST">
    <div class="form-group">
      <label for="email" class="col-sm-2 control-label">이메일</label>
      <div class="col-sm-6">
        <input type="email" class="form-control" id="email" name="email" placeholder="이메일"/>
      </div>
    </div>
    <div class="form-group">
    <label for="password" class="col-sm-2 control-label">비밀번호</label>
    <div class="col-sm-6">
    <input type="password" class="form-control" id="password" name="password" placeholder="비밀번호"/>
    <p class="help-block">숫자, 특수문자 포함 8자 이상</p>
    </div>
    </div>
    <div class="form-group">
      <label for="modifyEnable" class="col-sm-2 control-label">관리자여부</label>
      <label class="radio-inline">
        <input type="radio" id="modifyEnable" value="true" name="admin"/>관리자
      </label>
      <label class="radio-inline">
        <input type="radio" id="modifyDisable" value="false" name="admin"/>사용자
      </label>
    </div>
    <div class="form-group">
    <label for="agree" class="col-sm-2 control-label">약관 동의</label>
    <div class="col-sm-6 checkbox">
      <label>
        <input id="agree" type="checkbox"/> <a href="/web/agreement"> 이용약관</a>에 동의합니다.
    </label>
    </div>
    </div>
    <div class="form-group">
    <div class="col-sm-6">
      <button type="submit" class="btn btn-primary">회원가입</button>
    </div>
    </div>
    </form>
  </article>
</div>
</body>
</html>