<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav" th:fragment="navFragment">
      <a class="navbar-brand" href="/web/managementServer"><img src="/img/logo.png"/></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li id="navi_server" class="nav-item" data-toggle="tooltip" data-placement="right" title="managementServer">
            <a class="nav-link" href="/web/managementServer">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">
                서버 관리</span>
            </a>
          </li>
          <li id="navi_traffic" class="nav-item" data-toggle="tooltip" data-placement="right" title="managementTraffic">
            <a class="nav-link" href="/web/managementTraffic">
              <i class="fa fa-fw fa-area-chart"></i>
              <span class="nav-link-text">
              	 트래픽 관리</span>
            </a>
          </li>
          <li id="navi_user" class="nav-item" data-toggle="tooltip" data-placement="right" title="managementUser">
            <a class="nav-link" href="/web/managementUser">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">
                사용자 관리</span>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#LogoutModal">
              <i class="fa fa-fw fa-sign-out"></i>
              Logout</a>
          </li>
        </ul>
      </div>
    </nav>
</html>